.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(-45deg, red, blue, red);
}
.loginfilterContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.3;
  top: 0;
  left: 0;
}

.loginBothContainer::before {
  background-filter: blur(10px);
}

.loginBothContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 70%;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 10px rgb(255 255 255 / 30%);
  z-index: 100;
  border-radius: 10px;
}
.loginTopContainer {
  width: 100%;
  height: 30%;
}

.loginBottomContainer {
  width: 100%;
  height: 70%;
}

.loginTitle {
}

.loginIcon1 {
  font-size: 50px;
  margin-top: 25px;
}

.loginInput {
  width: 60%;
  height: 30px;
  border: none;
  border: 1px solid black;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
  
}

.loginPwShowContainer{
  display: flex;
  justify-content: center;
}

.loginBtnContainer{
  
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.loginBtn{
  display: inline-flex;
  
  /*
  background-color: blue;
  */
  width: 70px;
  height: 25px;
  border-radius: 17.5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
}

.signupModal {
  display: flex;
  position: fixed;
  background-color: rgba(166, 166, 166, 0.5);
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.signupModalIn {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  background-color: white;
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  align-items: center; /* 내부 요소 가로 중앙 정렬 */
  justify-content: flex-start; /* 내부 요소를 상단 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
  padding: 20px; /* 내부 여백 추가 */
  box-sizing: border-box; /* 패딩이 너비에 포함되도록 설정 */
  gap: 10px;
  
}

.signupModalTitle {
  margin-top: 20px; /* 위쪽 여백 추가 */
  border: 1px solid black;
  padding: 10px;
  width: 80%; /* 제목이 너무 길어지지 않도록 제한 */
}
.signupModalInput{
  border: 1px solid black;
  width: 65%;
  height: 30px;
  border-radius: 15px;
  text-align: center;
}



