.menusideContainer{
  width: 65%;
  height: 100vh;
  background-color: white;
  /* opacity: 0.5; */
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 100;
}


.menusideContainer.menusideTabOpen{
  transform: translateX(0);
  
}
.menusideBackground{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  background-color: gray;
  opacity: 0;
}
.menusideBackground.menusideTabBack{
  opacity: 0.3;
  display: block;
}

.topbarMenuCloseBtn {
  /* border: 1px solid black; */
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
}

.subtitleContainer{
  /* border-bottom: 1px solid black; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
/*   background-image: linear-gradient(90deg,red,blue,); */
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.5), rgba(255, 255, 255, 0.7));
  
}
.menusideTabSubtitle{
 color: white; 
}

.menusideTabListContainer{
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  
}

.menusideTabList{
  display: flex;
  width: 100%;
  height: 50px;
  /* padding-left: 10px; */
  border-bottom: 1px solid black;
  /* text-align: left; */
  justify-content: left;
  align-items: center;
  position: relative;
}

.menusideTabList .innerDiv{
  margin-left: 10px;
  
}

.menusideTabList .innerDiv span{
  margin-left: 10px;
}

.menusideTabList .innerinnerDiv span{
  margin-left: 60px;
  color: red;
  
}

.menusideTabList .innerDiv .IoMdArrowDropdown {
  width: 30px;
  height: 30px;
  /* border: 1px solid black; */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
