

.topbarContainer {
  border-bottom: 1px solid black;
  width: 100%; /* 100vw를 100%로 수정 */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.topbarMenuBtn {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%) scale(1);
  padding: 10px 5px;
  font-size: 30px;
}